@tailwind base;
@tailwind components;
@tailwind utilities;

/* Define font-face for Sniglet-ExtraBold */
@font-face {
    font-family: 'Sniglet-ExtraBold';
    src: url('../../public/fonts/Sniglet-ExtraBold.ttf') format('truetype'); /* Use 'truetype' instead of 'ttf' */
    font-weight: 800;
    font-style: normal;
}

/* Define font-face for Sniglet-Regular */
@font-face {
    font-family: 'Sniglet-Regular';
    src: url('../../public/fonts/Sniglet-Regular.ttf') format('truetype'); /* Use 'truetype' instead of 'ttf' */
    font-weight: 400; /* Adjust the font weight if Sniglet-Regular is not extrabold */
    font-style: normal;
}

.sniglet-regular {
    font-family: "Sniglet-Regular", system-ui; /* Use the correct font-family name */
    font-weight: 400; /* Use the correct font weight for regular */
    font-style: normal;
}

.sniglet-extrabold {
    font-family: "Sniglet-ExtraBold", system-ui; /* Use the correct font-family name */
    font-weight: 800;
    font-style: normal;
}